* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  border-bottom: 24px solid #0066cc;
  overflow: hidden;
}

img {
  border-radius: 1.2rem;
}

body button {
  border: none;
  padding: .8rem 2rem;
  cursor: pointer;
  margin: 1rem;
  border-radius: 1.2rem;
}

#container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.hitboxPerson .hitboxRest .boxRest .boxPerson {
  position: absolute;
  z-index: 1000;
}

.hitboxPerson .boxPerson {
  border: 1px solid red;
}

.hitboxRest .boxRest {
  background-color: rgba(255, 0, 0, .15);
}